{% extends "layout.html" %}
{%block titulo %}Editar Servidor{% endblock %}
{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#pessoais">Dados Pessoais</a></li>
  <li><a data-toggle="tab" href="#funcionais">Dados Funcionais</a></li>
  <li><a data-toggle="tab" href="#progressoes">Progressoes</a></li>
  <li><a data-toggle="tab" href="#ferias">Férias</a></li>
</ul>

<div class="tab-content">
  
  <div id="pessoais" class="tab-pane fade in active">
    <h3>Dados Pessoais</h3>
    <p>Some content.</p>
  </div>
  
  <div id="funcionais" class="tab-pane fade">
    <h3>Dados Funcionais</h3>
    <p>Some content in menu 1.</p>
  </div>
  
  <div id="progressoes" class="tab-pane fade">
    <h3>Progressões</h3>
    <p>Some content in menu 2.</p>
  </div>
  
  <div id="ferias" class="tab-pane fade">
    <h3>Férias</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>


{% endblock %}
