{% extends "layoutForm.html" %}
{% from "_formhelpers.html" import render_hidden,render_label,render_field,botoes_entidade %}
{% block action %}{{form.id.data}}{% endblock %}
{%block titulo %}Editar Setor{% endblock %}
{% block formulario %}

{{ render_hidden(form.id) }}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#geral">Geral</a></li>
  <li><a data-toggle="tab" href="#auditoria">Auditoria</a></li>
</ul>

<div class="tab-content">
  
  <div id="geral" class="tab-pane fade in active">
    <dl>
	{{ render_label(form.id) }}
    {{ render_field(form.sigla) }}
    {{ render_field(form.nome) }}
    {{ render_field(form.telefone) }}
    {{ render_field(form.campus_id) }}
    </dl>
  </div>
  
  <div id="auditoria" class="tab-pane fade">
    
  </div>
  
{{ botoes_entidade("setores",form.id.data) }}

</div>
{% endblock %}
