{% extends "layoutForm.html" %}
{% from "_formhelpers.html" import render_hidden,render_label,render_field,botoes_entidade,tab_auditoria %}
{% block action %}{{form.id.data}}{% endblock %}
{%block titulo %}Editar Permissão{% endblock %}
{% block formulario %}

{{ render_hidden(form.id) }}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#geral">Geral</a></li>
  <li><a data-toggle="tab" href="#auditoria">Auditoria</a></li>
</ul>

<div class="tab-content">
  
  <div id="geral" class="tab-pane fade in active">
    <dl>
	{{ render_label(form.id) }}
    {{ render_field(form.url) }}
    </dl>
  </div>
  
  {{ tab_auditoria(auditoria) }}
  
{{ botoes_entidade("permissoes",form.id.data) }}

</div>
{% endblock %}
