{% extends "layoutForm.html" %}
{% from "_formhelpers.html" import render_field %}
{% block action %}{{form.id.data}}{% endblock %}

{% block formulario %}

<h3>Editar Setor</h3>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#geral">Geral</a></li>
  <li><a data-toggle="tab" href="#auditoria">Auditoria</a></li>
</ul>

<div class="tab-content">
  
  <div id="geral" class="tab-pane fade in active">
    <dl>
	{{ render_field(form.id) }}
    {{ render_field(form.sigla) }}
    {{ render_field(form.nome) }}
    {{ render_field(form.telefone) }}
    </dl>
  </div>
  
  <div id="auditoria" class="tab-pane fade">
    
  </div>
  
  <input type="submit" value="Salvar" />

</div>
{% endblock %}
