{% extends "layoutForm.html" %}
{% from "_formhelpers.html" import render_field %}
{% block action %}{{form.id.data}}{% endblock %}

{% block formulario %}

<h3>Editar Setor</h3>

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#geral">Geral</a></li>
  <li><a data-toggle="tab" href="#auditoria">Auditoria</a></li>
</ul>

<div class="tab-content">
  
  <div id="geral" class="tab-pane fade in active">
    <dl>
	{{ render_field(form.id) }}
    {{ render_field(form.sigla) }}
    {{ render_field(form.nome) }}
    {{ render_field(form.telefone) }}
    </dl>
  </div>
  
  <div id="auditoria" class="tab-pane fade">
    
  </div>
  
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#SalvarModal">
  Salvar
</button>
<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#ApagarModal">
  Apagar
</button>
<a href="/setores/editar/0" class="btn btn-default btn-lg" role="button">Novo</a>
<a href="/setores/listar/" class="btn btn-default btn-lg" role="button">Voltar</a>

<!-- Modal -->
<div class="modal fade" id="SalvarModal" tabindex="-1" role="dialog" aria-labelledby="SalvarModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
      </div>
      <div class="modal-body">
        Deseja realmente salvar as alterações? Após a confirmação as alterações não poderão serem desfeitas!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btnSalvar" type="submit" class="btn btn-primary" >Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ApagarModal" tabindex="-1" role="dialog" aria-labelledby="ApagarModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Confirmação</h4>
      </div>
      <div class="modal-body">
        Deseja realmente apagar o registro? Após a confirmação essa ação não poderá ser desfeita!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <a href="/setores/remover/{{form.id.data}}" class="btn btn-danger" role="button">Apagar</a>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
