{% extends "layoutForm.html" %}
{% from "_formhelpers.html" import render_hidden,render_label,render_field,botoes_entidade,render_inline,render_multiple %}
{% block action %}{{form.id.data}}{% endblock %}
{%block titulo %}Editar Servidor{% endblock %}
{% block formulario %}

{{ render_hidden(form.id) }}


<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#pessoais">Dados Pessoais</a></li>
  <li><a data-toggle="tab" href="#documentos">Documentos</a></li>
  <li><a data-toggle="tab" href="#funcionais">Dados Funcionais</a></li>
  <li><a data-toggle="tab" href="#endereco">Endereço e Contatos</a></li>
  <li><a data-toggle="tab" href="#titulos">Títulos</a></li>
  <li><a data-toggle="tab" href="#progressoes">Progressões</a></li>
  <li><a data-toggle="tab" href="#cdfg">Cargos/Funções Gratificadas</a></li>
  <li><a data-toggle="tab" href="#ferias">Férias</a></li>
</ul>

<div class="tab-content">
  
  <div id="pessoais" class="tab-pane fade in active">
	  {{ render_field(form.nome) }}
	  {{ render_field(form.dataNascimento) }}
	  {{ render_field(form.sexo) }}
	  {{ render_field(form.estadoCivil) }}
	  {{ render_field(form.nacionalidade) }}
	  {{ render_field(form.ufNascimento) }}
	  {{ render_field(form.nomeMae) }}
	  {{ render_field(form.nomePai) }}
	  {{ render_field(form.naturalidade) }}
	  {{ render_field(form.tipoSanguineo) }}
	  {{ render_field(form.possuiDeficiencia) }}
	  {{ render_field(form.TipoDeficiencia) }}
	  {{ render_field(form.raca_cor) }}
  </div>
  
  <div id="documentos" class="tab-pane fade">
	 <div class="form-group">
	  <label class="control-label">Identidade</label>
		<div class="form-inline inputGroupContainer">
			{{ render_inline(form.rg_Numero) }}
			{{ render_inline(form.rg_OrgaoExpedidor) }}
			{{ render_inline(form.rg_UF) }}
			{{ render_inline(form.rg_Emissao) }}
		</div>
	</div>
	  {{ render_field(form.cpf) }}
	  <div class="form-group">
	  <label class="control-label">Título Eleitor</label>
		<div class="form-inline inputGroupContainer">
			{{ render_inline(form.tituloEleitor) }}
			{{ render_inline(form.tituloEleitor_UF) }}
			{{ render_inline(form.tituloEleitor_Zona) }}
			{{ render_inline(form.tituloEleitor_Secao) }}
			{{ render_inline(form.tituloEleitor_Emissao) }}
		</div>
	</div>
	<div class="form-group">
	  <label class="control-label">Certificado Militar</label>
		<div class="form-inline inputGroupContainer">
			{{ render_inline(form.certificadoMilitar) }}
			{{ render_inline(form.certificadoMilitar_Orgao) }}
			{{ render_inline(form.certificadoMilitar_Serie) }}
		</div>
	</div>
	  {{ render_field(form.passaporte) }}
	  {{ render_field(form.pis_pasep) }}
  </div>
  
  <div id="funcionais" class="tab-pane fade">
	  <div class="form-group">
	  <div class="form-inline inputGroupContainer">
			{{ render_inline(form.tipoServidor) }}
			{{ render_inline(form.jornada) }}
			{{ render_inline(form.situacaoServidor) }}
		</div>
	</div>
	{{ render_inline(form.cargo_id) }}
	<div class="form-group">
	  <div class="form-inline inputGroupContainer">
			{{ render_inline(form.matricula) }}
			{{ render_inline(form.dataCadastroSiape) }}
		</div>
	</div>
	<div class="form-group">
	  <div class="form-inline inputGroupContainer">
			{{ render_inline(form.dataPosse) }}
			{{ render_inline(form.dataExercicio) }}
			{{ render_inline(form.dataSaida) }}
		</div>
	</div>
	  {{ render_field(form.dataPrimeiroEmprego) }}
	  {{ render_field(form.curriculumLattes) }}
	<div class="form-group">
	  <label class="control-label">Conta Pagamento</label>
		<div class="form-inline inputGroupContainer">
			{{ render_inline(form.pagamento_Banco) }}
			{{ render_inline(form.pagamento_Agencia) }}
			{{ render_inline(form.pagamento_Conta) }}
			{{ render_inline(form.pagamento_TipoConta) }}
		</div>
	</div>
  </div>
  
  <div id="endereco" class="tab-pane fade">
	{{ render_field(form.email_Pessoal) }}
	{{ render_field(form.email_Institucional) }}
    {{ render_multiple(form.telefone1) }}
    {{ render_multiple(form.telefone2) }}
    {{ render_multiple(form.endereco) }}
  </div>
  
  <div id="titulos" class="tab-pane fade">
	<a href="/titulos/editar/{{form.id.data}},0" class="btn btn-default btn-lg" role="button">Novo</a>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th>Nível</th>
			<th>Área</th>
			<th>Instituição</th>
			<th>EDITAR</th>
		  </tr>
		</thead>
		<tbody>
		  {% for obj in titulos %}
		  <tr>
			<td>{{ TIT[obj.titulo].value }}</td>
			<td>{{ obj.area }}</td>
			<td>{{ obj.instituicao }}</td>
			<td> <a href="/titulos/editar/{{form.id.data}},{{ obj.id }}">Editar</a> </td>
		  </tr>
		  {% endfor %}
		</tbody>
	</table>
  </div>
  
  <div id="progressoes" class="tab-pane fade">
	<a href="/progressoes/editar/{{form.id.data}},0" class="btn btn-default btn-lg" role="button">Novo</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Classe/Nível</th>
				<th>Início</th>
				<th>Término</th>
				<th>EDITAR</th>
			</tr>
		</thead>
		<tbody>
		{% for obj in progressoes %}
			<tr>
				<td>{{ obj.classenivel }}</td>
				<td>{{ obj.dataInicio }}</td>
				<td>{{ obj.dataTermino }}</td>
				<td> <a href="/progressoes/editar/{{form.id.data}},{{ obj.id }}">Editar</a> </td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
  </div>
  
  <div id="cdfg" class="tab-pane fade">
    
  </div>
  
  <div id="ferias" class="tab-pane fade">
    
  </div>
  
  {{ botoes_entidade("pessoas",form.id.data) }}
  
</div>


{% endblock %}
