{% extends "layout.html" %}
{%block titulo %}Listagem de Setores{% endblock %}
{% block content %}
  <table class="table table-striped">
	<thead>
	  <tr>
		<th>SIGLA</th>
		<th>SETOR</th>
		<th>EDITAR</th>
	  </tr>
	</thead>
	<tbody>
	  {% for obj in listagem %}
	  <tr>
		<td>{{ obj.sigla }}</td>
		<td>{{ obj.nome }}</td>
		<td> <a href="/setores/editar/{{ setor.id }}">Editar</a> </td>
	  </tr>
	  {% endfor %}              
	</tbody>
  </table>
  <a href="/setores/editar/0" class="btn btn-default btn-lg" role="button">Novo</a>
  
{% endblock %}
