{% extends "layout.html" %}
{%block titulo %}Listagem dos Cargos{% endblock %}
{% block content %}

<table class="table table-striped">
<thead>
  <tr>
	<th>TIPO</th>
	<th>CARGO</th>
	<th>EDITAR</th>
  </tr>
</thead>
<tbody>
  {% for obj in listagem %}
  <tr>
	<td>{{ TS[obj.tipoServidor].value }}</td>
	<td>{{ obj.nome }}</td>
	<td> <a href="/cargos/editar/{{ obj.id }}">Editar</a> </td>
  </tr>
  {% endfor %}              
</tbody>
</table>
<a href="/cargos/editar/0" class="btn btn-default btn-lg" role="button">Novo</a>
{% endblock %}
