{% extends "layout.html" %}
{% block content %}

<div class="col-md-6">
<h3>Listagem de Setores</h3>

  <table class="table table-striped">
	<thead>
	  <tr>
		<th>SIGLA</th>
		<th>SETOR</th>
		<th>EDITAR</th>
	  </tr>
	</thead>
	<tbody>
	  {% for setor in setores %}
	  <tr>
		<td>{{ setor.sigla }}</td>
		<td>{{ setor.nome }}</td>
		<td> <a href="/setores/editar/{{ setor.id }}">Editar</a> </td>
	  </tr>
	  {% endfor %}              
	</tbody>
  </table>
  <a href="/setores/editar/0" class="btn btn-default btn-lg" role="button">Novo</a>
</div>
  
{% endblock %}
