{% extends "layoutForm.html" %}
{% from "_formhelpers.html" import render_field,botoes_busca %}
{%block titulo %}Listagem de Servidores{% endblock %}
{% block action %}{% endblock %}
{% block formulario %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Filtrar Lista</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
          <dl>{{ render_field(form.nome) }}</dl>
      </div>
      <div class="panel-footer">
          {{ botoes_busca() }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block posformulario %}
<table class="table table-striped">
<thead>
  <tr>
	<th>NOME</th>
	<th>SIAPE</th>
	<th>TIPO</th>
	<th>EDITAR</th>
  </tr>
</thead>
<tbody>
  {% for obj in listagem %}
  <tr>
	<td>{{ obj.nome }}</td>
	<td>{{ obj.matricula }}</td>
	<td>{{ TS[ obj.tipoServidor ].value }}</td>
	<td> <a href="/CGP/pessoas/editar/{{ obj.id }}">Editar</a> </td>
  </tr>
  {% endfor %}
</tbody>
</table>
<a href="./pessoas/editar/0" class="btn btn-default btn-lg" role="button">Novo</a>
{% endblock %}
